<div>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="'VisualSettings' | localize"
            [description]="'UiCustomizationHeaderInfo' | localize"
        ></sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset type="pills">
                        <tab
                            *ngFor="let themeSetting of themeSettings"
                            [active]="themeSetting.theme == currentThemeName"
                            customClass="pb-5"
                        >
                            <ng-template tabHeading>
                                <div class="theme-select-box">
                                    <img
                                        [src]="'/assets/common/images/metronic-themes/' + themeSetting.theme + '.png'"
                                        width="150"
                                        alt="theme{{ themeSetting.theme }}"
                                    />
                                    <span class="theme-name">{{ getLocalizedThemeName(themeSetting.theme) }}</span>
                                </div>
                            </ng-template>

                            <default-theme-ui-settings
                                *ngIf="themeSetting.theme == 'default'"
                                [settings]="themeSetting"
                            ></default-theme-ui-settings>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
