<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>               
                
                
                 <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
             
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("FullName")}} :</h6>
                        {{ item.employee.fullName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Address")}} :</h6>
                        {{ item.employee.address }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Phone")}} :</h6>
                        {{ item.employee.phone }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Department")}} :</h6>
                        {{ item.employee.department }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("JobTitle")}} :</h6>
                        {{ item.employee.jobTitle }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("SocialSecurity")}} :</h6>
                        {{ item.employee.socialSecurity }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("EmployeeWorkType")}}) {{l("Type")}} :</h6>
                        {{item.employeeWorkTypeType}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
